.section1{
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
header{
    display: flex;
    justify-content:space-between;
}  
.intro a{
    color: rgb(200, 204, 208);
    text-align: right;
    display: flex;
    float: left;
    justify-content:space-between; 
} 
.block21{
    align-items: center;
}

.block21 img{
    border-radius: 50%;
    width: 10;
    height: 10;
}
.section1 h1{
    text-align: center;
    color: rgb(255, 255, 255);
}
.section1 p{
    text-align: center;
    size: 50;
    color: azure;
}
.section1 button{
    background-color: rgb(169, 91, 241);
    color: rgb(205, 208, 211);
    display: flex;
    border-radius: 10%;
    justify-content: center;
    padding: 10x 30x;
    cursor: pointer;
}
